* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: cornflowerblue;
}

.container {
  background: white;
  padding: 3rem;
  text-align: center;
  border-radius: 2rem;
  min-width: 60%;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  margin: 1rem;
}

.btn {
  color: cornflowerblue;
  padding: 0.5rem 1rem;
}

.next-btn,
.start-btn {
  padding: 0.5rem 3rem;
  border-radius: 2rem;
}

.hide {
  display: none;
}

.success {
  background: green;
}

.danger {
  background: red;
}
